[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django >= "2.0.8"
celery = "*"
"django-bootstrap4" = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.7"
